<!DOCTYPE html>
<html>
<head>
  <title>Welcome | Prote.in</title>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Prote.in</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about">Search</a></li>
        <li><a href="/proteins">All Proteins</a></li>
        <li><a href="/proteins/new">Add Protein</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    &copy; Luke Haines - coding genius
  </footer>
</body>
</html>
