<h2><%= @protein.name %></h2>
<h3><%= @protein.brand %></h3>
<h3><%= @protein.goals %></h3>
<p>I'm just testing to see if I can add a plain text description in here.</p>
<img src="<%= @protein.photo_url %>">
